
#app {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}

.marker {
  position: absolute;
  width: 60px;
  left: 172px;
  top: -20px;
  z-index: 2;
}

.wheel {
  width: 100%;
  height: 100%;
}

.button {
  display: block;
  width: 250px;
  margin: 40px auto;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.blur {
  animation: blur 10s;
}

@keyframes blur {
  0% {
    filter: blur(1.5px);
  }
  80% {
    filter: blur(1.5px);
  }
  100% {
    filter: blur(0px);
  }
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{   color: #FFF;        }
    49%{  color: #FFF;        }
    60%{  color: transparent; }
    99%{  color: transparent; }
    100%{ color: #FFF;        }
}

.wheelText {
  font: 16px serif;
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight:normal;
  text-align: center;
  /*text-shadow: 0 0 3px #555555, 0 0 5px #555555;*/
  text-shadow: 2px 2px #555555;
  -webkit-appearance: none;
  -webkit-box-shadow: 3px 3px 6px 6px #555555;
  fill: white;
}

.prizeText {
  font: 13px serif;
  font-family: proxima-nova-1,proxima-nova-2,montserrat,Helvetica,sans-serif;
  font-weight: 600;
  text-shadow: 4px 1px 10px #6c757d;
  color: #383535;
  line-height: 1.2;
  float: left;
  position: absolute;
  z-index: 2;
}


/*.slot-wrapper {*/
/*	 border: 1px solid #000000;*/
/*}*/
/*.slot {*/
	/*background:url("images/reel_normal.png") repeat-y;*/
    /*background:url( "{% static 'img/reel_normal.png' %}")repeat-y;*/
	/*width:86px;*/
	/*height:70px;*/
	/*float:left;*/
	/*border:1px solid #000;*/
	/*background-position:0 4px;*/
/*}*/
/*.motion {*/
	/*background:url("images/reel_blur.png") repeat-y;*/
/*}*/

/*.clear {*/
/*	clear:both;*/
/*}*/
